<div *ngIf="xml">
  <div class="cabCols" id="container">
    <div class="cabCols borde" id="validar">
      <b class="{{ xml['Status'] }}">{{
        xml["Status"] === "success"
          ? "Valido y Vigente"
          : "No Valido o Cancelado"
      }}</b>
    </div>
    <div class="cabCols" id="cabecera">
      <div class="cabrows">
        <div class="flexGrow1 bordeDash cabrows" id="serie">
          <div class="width12 textAlL flexGrow1"><b>Serie:</b></div>
          <div class="width12 textAlL flexGrow2">{{ xml["Serie"] }}</div>
        </div>
        <div class="flexGrow1 bordeDash cabrows" id="folio">
          <div class="width12 textAlL flexGrow1"><b>Folio:</b></div>
          <div class="width12 textAlL flexGrow2">{{ xml["Folio"] }}</div>
        </div>
        <div class="flexGrow2 bordeDash cabrows" id="uuid">
          <div class="width12 textAlL flexGrow1"><b>UUID:</b></div>
          <div class="width12 textAlL flexGrow2">{{ xml["Complemento"]["TimbreFiscalDigital"]["UUID"] | uppercase }}</div>
        </div>
      </div>
      <div id="" class="cabrows">
        <div class="flexGrow1 bordeDash" id="fecha">
         Fecha: {{ xml["Fecha"] | date: "yyyy-MM-dd" }}
        </div>
        <div class="flexGrow1 bordeDash" id="tipoComp">Tipo Comprobante: {{ xml["TipoDeComprobante"] }}</div>
        <div class="flexGrow1 bordeDash" id="lugarExp">Lugar Expedición: {{ xml["LugarExpedicion"] }}</div>
      </div>
    </div>
    <div id="relacionadosAll"></div>
    <div class="cabrows" id="emirec">
      <div class="cabcols borde flexGrow1 minWidth2" id="emisorcont">
        <div class="bordeDownDash" id="emTitulo"><b>Emisor</b></div>
        <div id="rfcEmi">RFC: {{xml["Emisor"]["Rfc"]}}</div>
        <div id="razonEmi">Razón Social: {{xml["Emisor"]["Nombre"]}}</div>
        <div id="regimenEmi">Regimen Emisor: {{xml["Emisor"]["RegimenFiscal"]}}</div>
      </div>
      <div class="cabcols borde flexGrow1 minWidth2" id="receptorcont">
        <div class="bordeDownDash" id="recTitulo"><b>Receptor</b></div>
        <div id="rfcRec">RFC: {{xml["Receptor"]["Rfc"]}}</div>
        <div id="razonRec">Razón Social: {{xml["Receptor"]["Nombre"]}}</div>
        <div id="usoCfdi">Uso CFDI: {{xml["Receptor"]["UsoCFDI"]}}</div>
      </div>
    </div>
    <div class="cabCols" #conceptos></div>
    <div class="cabrows" id="traslaCont">
      <div class="cabColsStart borde minWidth2 flexGrow1" id="trasAdiCont">
        <div id="formaPago"></div>
        <div id="metodoPago"></div>
        <div id="condicionesPago"></div>
        <div id="tipoCambio"></div>
        <div id="moneda"></div>
      </div>
      <div class="cabColsStart borde minWidth2 flexGrow1" id="trasCont">
        <div id="subtotal"></div>
        <div id="descuento"></div>
        <div id="subNeto"></div>
        <div id="impuestos" class="cabCols flexGrow1"></div>
        <div id="total" class="bordeUpDash"></div>
        <div id="totalPesos"></div>
      </div>
    </div>
    <div id="pagos"></div>
    <div class="cabrows" id="complemento">
      <div class="width20 flexGrow1" id="qr"></div>
      <div class="width75 flexGrow2 borde" id="compCont">
        <div id="versionCfdi"></div>
        <div id="fechaTimbre"></div>
        <div id="certEmi"></div>
        <div id="certSat"></div>
        <div id="selloEmi"></div>
        <div id="selloSat"></div>
        <div id="cadenaTim"></div>
      </div>
    </div>
    <pre style="overflow: auto; text-align: left;">{{preXml}}</pre>
  </div>
</div>
