<div class="mat-elevation-z5">
  <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="fecha">
      <th mat-header-cell mat-sort-header="Fecha" *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element["Fecha"] | date: "yyyy-MM-dd" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="uuid">
      <th
        mat-header-cell
        mat-sort-header="Complemento.TimbreFiscalDigital.UUID"
        *matHeaderCellDef
      >
        UUID
      </th>
      <td mat-cell *matCellDef="let element">
        <app-cfdisy-validate [xml]="element"></app-cfdisy-validate>
      </td>
    </ng-container>
    <ng-container matColumnDef="folio">
      <th mat-header-cell mat-sort-header="Folio" *matHeaderCellDef>Folio</th>
      <td mat-cell *matCellDef="let element">
        {{ element["Folio"] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="emisorRfc">
      <th mat-header-cell mat-sort-header="Emisor.Rfc" *matHeaderCellDef>
        Emisor
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element["Emisor"]?.['Rfc'] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="receptorRfc">
      <th mat-header-cell mat-sort-header="Receptor.Rfc" *matHeaderCellDef>
        Receptor
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element["Receptor"]?.['Rfc'] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell mat-sort-header="Total" *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element["Total"] | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="detalle">
      <th mat-header-cell *matHeaderCellDef>Detalle</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          aria-label="Detalle"
          (click)="detailXmlFile(element)"
        >
          <mat-icon>description</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="warn"
          aria-label="Eliminar"
          (click)="deleteXmlFile(element['Complemento']?.['TimbreFiscalDigital']?.['UUID'])"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
    aria-label="Selecciona pagina"
  >
  </mat-paginator>
</div>
